# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - 2tnw2181alliancemanager

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: 2tnwreistry2181.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_E4E9143F69C3438BA88086CD03D6E2A5 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_38B6F84E36F84134A1C8C058AFFD60EF }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: tags: 2tnwreistry2181.azurecr.io/lastwar-alliance-manager:latest
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_9C4B7638907B4AEDB981E1BA69931E2E }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_449EA43B12284882BFCA482F297B4DC2 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_FBC69421FB3B488C944BA37B6F07A5FC }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: '2tnw2181alliancemanager'
          slot-name: 'Production'
          images: '2tnwreistry2181.azurecr.io/lastwar-alliance-manager:latest'

          
